<style>
    td{
        border: 1px solid black;
        padding: 5px;
    }
</style>
<a href="{% url 'logout' %}">Cerrar sesión</a>
<h1>Lista de Usuarios</h1>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Usuario</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Ultimo login</td>
            <td>Acción</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.last_login }}</td>
            <td>
                <a href="{% url 'user-edit' user.id %}">Editar</a>
                <a href="{% url 'user-delete' user.id %}">Eliminar</a>
            </td>
        {% endfor %}
    </tbody>
</table>